.app-cursor{
    z-index: 1000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0,0,0);
    position: fixed;
    mix-blend-mode: difference;
    background-color: white;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
    // transition: all .25s ease-in-out;
}

.secondary-cursor{
    z-index: 1000;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0,0,0);
    position: fixed;
}