.preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #dbd8d6;
    background-color: #191919;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1;

    h1{
        font-size: 1.5vw;
        text-transform: uppercase;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
    }

    h2{
        font-size: 1.5vw;
        text-transform: uppercase;
        font-family: 'Bai Jamjuree', sans-serif;
        font-style: italic;
        margin-top: 1rem;
    }
}
